name: Prod Terraform Deploy

on:
  push:
    branches:
      - prod

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - uses: actions/checkout@v3

      - uses: google-github-actions/auth@v1
        with:
          workload_identity_provider: ${{ secrets.WIF_PROVIDER_PROD }}
          service_account: ${{ secrets.SA_EMAIL_PROD }}

      - uses: hashicorp/setup-terraform@v2

      - run: |
          cd environments/prod
          terraform init
          terraform plan

      - name: Manual Approval
        uses: trstringer/manual-approval@v1

      - run: |
          cd environments/prod
          terraform apply -auto-approve